/* --------------------------------------------------------
Style Sheet for app.christof.digital

version: 0.9
last modified: 15.12.2021 by Christof Bauer
author: Christof Bauer
email: bauer.christof@gmail.com
----------------------------------------------------------*/

:root {
  --color-brand: #a6d1c9;
  --color-brand-dark: #003153;
  --color-highlight: #FFF01F;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* ==========================================================================
	General overrides and utilities
	========================================================================== */

html, body {
  scroll-behavior: smooth;
}

::selection {
  @apply bg-highlight bg-opacity-50;
}

::-moz-selection {
  @apply bg-highlight bg-opacity-50;
}

.link {
  @apply underline underline-offset-2 outline-none transition-all duration-300;
}

.link:hover {
  @apply no-underline rounded transition-all duration-500 text-white px-1 bg-brand-dark dark:bg-brand; 
}


/* ==========================================================================
	Navigation
	========================================================================== */

.active-nav {
  @apply md:border-b-2 md:border-brand-dark md:dark:border-brand ;
}


/* ==========================================================================
	Forms 
	========================================================================== */

.button {
  @apply bg-brand-dark text-white py-3 px-6 rounded shadow-lg transition-all cursor-pointer
    hover:shadow-none hover:text-brand dark:bg-brand dark:text-brand-dark
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-dark;
}

.example input[type='text'] {
  @apply border p-4 text-brand-dark
    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-dark;
}

.connect-button {
  @apply px-4 py-2 border border-brand-dark dark:border-brand 
  hover:bg-brand-dark hover:text-brand dark:hover:bg-brand dark:hover:text-brand-dark transition-all;
}

.valid {
  @apply border-green-600 border-2;
}

.changed {
  @apply border-orange-400 border-2;
}

.invalid {
  @apply border-red-600 border-2;
}
